@import "tailwindcss";

:root {
  --clr-text-heading: #171717;
  --clr-text-body: #333333;
  --clr-text-inactive: rgba(0, 0, 0, 0.4);
  --clr-border: #cacacd;

  --clr-surface-primary: #ffffff;
  --clr-surface-accent: #f2968f;
  --clr-surface-black-transparent: rgba(0, 0, 0, 0.15);
  --clr-surface-white-transparent: rgba(254, 254, 254, 0.9);
}

@theme inline {
  --color-background: var(--clr-surface-primary);
  --color-foreground: var(--clr-text-body);
  --color-inactive: var(--clr-text-inactive);
  --color-heading: var(--clr-text-heading);
  --color-accent: var(--clr-surface-accent);
  --color-border: var(--clr-border);
  --color-fav: var(--clr-surface-black-transparent);
  --color-navbar: var(--clr-surface-white-transparent);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  height: 100svh;
  display: grid;
  grid-template-columns: minmax(5svw, 1fr) minmax(0, 480px) minmax(5svw, 1fr);
  grid-template-rows: auto 1fr auto;
  overflow-y: clip;

  > header,
  > main,
  > nav {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: subgrid;

    > * {
      grid-column: 2;
      overflow: visible;
    }
  }
  > main {
    overflow-y: scroll;
  }
  .full-bleed {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: subgrid;

    > * {
      grid-column: 2;
      overflow: visible;
    }
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
